/* normalizacja - BEGIN */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* normalizacja - END */

body {
    background-color: #faf7f7;
}

main,
.main-nav,
footer {
    padding: 0 5vw;
}

.page-title {
    font-size: 1.8rem;
    font-weight: 800;
    color: #770804;
}

.section {
    background-color: #ffebeb;
    padding: 1% 2%;
    margin-bottom: 2vw;
    overflow: auto;
}

.section__title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #0a8f38;
}

.article {
    background-color: #ddece7;
    padding: 1% 2%;
    margin: 20px auto;
    display: block;
    max-width: 75vw;
    min-width: 200px;
    min-height: 150px;
}

.article__title {
    font-weight: 700;
    font-size: 1.1rem;
    color: #1460AA;
}

.article__title--special {
    color: #c6256d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navigation__link {
    color: rgb(152, 29, 201);
}

.navigation {
    background-color: bisque;
}

.main-nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: white;
    background-color: black;
    padding: 10px 0px;
}