body {
    background-color: #faf7f7;
    padding: 5% 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topic-header {
    font-weight: bold;
    font-size: 1.1em;
    color: #1460AA;
}

.header-2 {
    color: #1460AA;
    font-weight: 700;
}

.header-3 {
    color: #9a0e28;
    font-weight: 500;
}

.main-nav a {
    color: rgb(23, 116, 26);
}