/* normalizacja - BEGIN */
html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* normalizacja - END */

.article {
    background-color: #ddece7;
    padding: 1% 6%;
    margin: 20px;
    display: block;
    max-width: 75vw;
    min-width: 200px;
    min-height: 150px;
}

.article__title {
    font-weight: 700;
    font-size: 1.1rem;
    color: #1460AA;
}

.article__title--special {
    color: #c6256d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #faf7f7;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: white;
    background-color: black;
    padding: 10px 0px;
}

.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #1460AA;
    padding: 10px 10px;
    border-radius: 10%;
}

.go-to-top .link {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

main, footer {
    padding: 0 5vw;
    max-width: 768px;
    margin: 0 auto;
}

.main-nav {
    padding: 10px 5vw;
}

.navigation__link {
    color: rgb(152, 29, 201);
}

.navigation {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.page-header {
    position: sticky;
    top: 0;
}

.page-title {
    font-size: 1.8rem;
    font-weight: 800;
    color: #770804;
}

.section {
    background-color: #ffebeb;
    padding: 1% 2%;
    margin-bottom: 2vw;
    overflow: auto;
}

.section__title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #0a8f38;
}

.table {
    width: 100%;
    text-align: left;
}

.table__head * {
    font-weight: 700;
    padding: 1.2rem 0.5rem;
}

.table__caption {
    margin-bottom: 1.5rem;
    font-weight: 500;
}